<div class="page-header">
  <h1>Add a New Section</h1>
</div>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/section", "method" => "post"  %>

      <%= hidden_field_tag "course_id", params["id"] %>

      <div class="form-group">
        <%= label_tag "plast", "Professor last name:" %>
        <%= select_tag "plast", options_from_collection_for_select(Professor.read.order("plast_name"), "id", "plast_name"), "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "pfirst_name", "Professor First Name:" %>
        <%= select_tag "pfirst_name", options_from_collection_for_select(Professor.where("plast_name" => "id").order("pfirst_name"), "plast", "pfirst_name"), "class" => "form-control" %>
      </div>



      <%= submit_tag "Add This Section", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/courses" %>

    </form>
</div>
</div>
