<h2> <font face="verdana" color=purple>Class overview</font> </h2>
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a New Class", "/classes/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>
<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_classes = Course.order("dept asc, course_no asc") %>
  <thead>
  <tr>
    <th> Department </th>
    <th> Class Number </th>
    <th> Class name </th>
    <th> Average Rating </th>
  </tr>
  </thead>
  <tbody>

<% all_classes.each do |zebra| %>

  <tr>
    <% name = zebra["course_name"] %>
    <% avgrating = Rating.where("course_id" => zebra["id"]).average("rating") %>
    <td><%= zebra["dept"] %></td>
    <td><%= zebra["course_no"] %></td>
    <td><%= link_to name, "/classes/#{zebra["id"]}" %></td>
    <td><%= avgrating %></td>

  </tr>
<% end %>
</tbody>
</table>
</style>
</table>
