<font face="verdana"><font color= purple>
<% the_id = params["id"] %>
<% the_course = Course.read(the_id) %>
<% reviews = Rating.where("course_id" => the_course["id"]) %>
<% avgrating = Rating.where("course_id" => the_course["id"]).average("rating") %>

<h2><%= the_course["course_name"] %></h2>
</font>


<p>
  <%= link_to "Classes", "/classes" %> | <%= link_to "Professors", "/professors" %>
</p>

<font color = black>
<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_reviews = Rating.where("course_id" => the_course["id"]) %>

  <thead>
  <tr>
    <th> How likely would you be to recommend this class (1-10) </th>
    <th> Qualitative feedback </th>
  </tr>
  </thead>
  <tbody>
<% all_reviews.each do |feedback| %>
  <tr>
    <% name = feedback["course_name"] %>
    <% avgrating = Review.where("course_name" => name).average("rating") %>
    <td> <%= avgrating %> </td>
    <td> <li><%= feedback["feedback"] %> </li></td>
  </tr>
<% end %>
</tbody>
</table>
</style>

<br>

<%= link_to "Go back to class list", "/classes" %> </td>
</font>
