<font face="verdana"><font color= purple>
<% the_id = params["id"] %>
<% the_course = Course.read(the_id) %>

<h2><%= the_course["course_name"] %></h2>
</font>

<font color = black>
<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_reviews = Rating.where("course_id" => the_course["id"]) %>

  <thead>
  <tr>
    <th> Professor </th>
    <th> How likely would you be to recommend this class (1-10)? </th>
    <th> Qualitative feedback </th>
  </tr>
  </thead>
  <tbody>
<% all_reviews.each do |feedback| %>
  <tr>
    <% name = feedback["course_name"] %>
    <% professor = Professor.find_by("id" => feedback["professor_id"]) %>
    <% proffname = professor["pfirstname"] %>
    <% proflname = professor["plastname"] %>
    <% avgrating = Rating.where(professor_id => professor["id"]) %>
    <td width=200> <%= proffname %> <%= proflname %></td>
    <td width=200> <%= avgrating %> </td>
    <td width=200> <li><%= feedback["feedback"] %> </li></td>
  </tr>
<% end %>
</tbody>
</table>
</style>

<br>

</font>
