<% professor_id = params["id"] %>
<% professor = Professor.read(professor_id) %>

<div class="row">

  <div class="col-md-3">
    <%= image_tag(professor["photo_url"]) %>
  </div>

<div class="col-md-9">
    <h1><%= professor["pfirst_name"] %> <%= professor["plast_name"] %>
      <p><small>Gender: <%= professor["gender"] %></small></p>
    </h1>
    </div>

<div class="row">
  <div class="col-md-12">
    <h3>Courses Taught:</h3>

<% sections = Section.where("professor_id" => professor["id"]) %>

    <ul>
      <% sections.each do |section| %>
        <% courses = Course.find_by("id" => section["course_id"]) %>
        <li>
          <%= link_to courses["course_name"], "/sections/#{section["id"]}" %>

        </li>
      <% end %>
    </ul>
