<div class="row">

</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a New Professor", "/professors/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <% Professor.read.order("plast_name asc").each do |professor| %>

      <div class="row professor">

        <div class="col-md-4">
          <%= link_to image_tag(professor["photo_url"], "height" => 250, "width" => 200), "/professors/#{professor["id"]}" %>
        </div>

        <div class="col-md-8">
          <h3> <%= professor["pfirst_name"] %> <%= link_to professor["plast_name"], "/professors/#{professor["id"]}" %> </h3> <%= link_to "edit", "/professors/#{professor["id"]}/edit" %> | <%= link_to "delete", "/professors/#{professor["id"]}", "method" => "delete" %>


    </div>
</div>

<% end %>
