<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a New Professor", "/professors/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>


<div class="row">
 <div class="col-md-8">

  <%= form_tag "/professors/search", "method" => "post"  %>

    <div class="form-group">
        <%= label_tag "plast_name", "What is the professor's last name?" %>
        <%= text_field_tag "plast_name", "", "class" => "form-control" %>
        <%= submit_tag "Find my professor", "class" => "btn btn-lg btn-success" %>
    </div>
  </form>
  </div>
  </div>
</div>

<% all_profs = Professor.order("plast_name asc, pfirst_name asc") %>
<% if params["name"].present? %>
    <% all_profs = Professor.where(“plast_name LIKE ?”, “#{params[“name”]}%”).order("pfirst_name asc") %>
<% end %>

    <% all_profs.each do |professor| %>

      <div class="row professor">

        <div class="col-md-4">
          <%= link_to image_tag(professor["photo_url"], "height" => 250, "width" => 200), "/professors/#{professor["id"]}" %>
        </div>

        <div class="col-md-8">
          <h3> <%= professor["pfirst_name"] %> <%= link_to professor["plast_name"], "/professors/#{professor["id"]}" %> </h3> <%= link_to "edit", "/professors/#{professor["id"]}/edit" %> | <%= link_to "delete", "/professors/#{professor["id"]}", "method" => "delete" %>
        </div>

      </div>

  <% end %>
