New
<div class="page-header">
  <h1>Add a New Professor </h1>
</div>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/professors", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "pfirst_name", "What is the professor's first name?" %>
        <%= text_field_tag "pfirst_name", "", "class" => "form-control" %>

      </div>

      <div class="form-group">
        <%= label_tag "plast_name", "What is the professor's last name?" %>
        <%= text_field_tag "plast_name", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "gender", "What is the professor's gender?" %>
        <%= text_field_tag "gender", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "photo_url", "Do you have a photo url for this professor?" %>
        <%= text_field_tag "photo_url", "", "class" => "form-control" %>
      </div>

      <%= submit_tag "Add This Professor", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/professors" %>

    </form>
</div>
</div>
