<% professor_id = params["id"] %>
<% professor = Professor.read(professor_id) %>

<div class="row">

  <div class="col-md-3">
    <%= image_tag(professor["photo_url"]) %>
  </div>

<div class="col-md-9">
    <h1><%= professor["pfirst_name"] %> <%= professor["plast_name"] %>
      <p><small>Gender: <%= professor["gender"] %></small></p>
    </h1>
    </div>

<div class="row">
  <div class="col-md-12">
    <h3>Courses Taught:</h3>

<% rating = Rating.where("professor_id" => professor["id"]) %>

    <ul>
      <% rating.each do |feedback| %>
        <% classes = Course.find_by("id" => feedback["course_id"]) %>
        <li>
          <%= link_to classes["course_name"], "/classes/#{classes["id"]}" %>

        </li>
      <% end %>
    </ul>

    <h3>Reviews:</h3>
    <div class="row">
    <div class="col-md-2">
    <%= link_to "Add a New Review", "/rating/new", "class" => 'btn btn-lg btn-primary' %>
    </div>
    </div>
