<% course = Course.find_by("id" => params["id"]) %>

<h2>Edit Course: <%= course["course_name"] %></h2>


<%= form_tag "/courses", "method" => "patch"  %>

  <p>
    <label>What department is the class in?</label>
    <input type="text" name="dept" value="<%= course["dept"] %>">
  </p>

  <p>
    <label>What is the class number?</label>
    <input type="integer" name="class_no" value="<%= course["course_no"] %>">
  </p>

  <p>
    <label>What is the title of the class?</label>
    <input type="text" name="class_name" value="<%= course["course_name"] %>">
  </p>


  <input type="submit"> or <a href="/courses">Cancel</a>

</form>
