<h2> <font face="verdana" color=purple>Choose a course:</font> </h2>

<div class="row">
  <div class="col-md-10">
<% department = Course.pluck("dept").uniq %>
<% department.each do |tiger| %>
<%= link_to tiger, "/courses?id=#{tiger["dept"]}"  %> |

<% end %>

    <div class="col-md-2 col-md-offset-10">
     <%= link_to "Add a New Course", "/courses/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
  </div>
</div>

<p></p>

<table>
<style>
table,th,td

</style>
<table >

<% all_courses = Course.order("dept asc, course_no asc") %>
<% if params["dept"].present? %>
<%   all_courses = Course.where("dept" => params["dept"]).order("course_no asc") %>
<% end %>


  <thead>
  <tr>
    <th style="border:1px solid black;
border-collapse:collapse; padding:15px"> Department </th>
    <th style="border:1px solid black;
border-collapse:collapse; padding:15px"> Course Number </th>
    <th style="border:1px solid black;
border-collapse:collapse; padding:15px"> Course name </th>
    <th style="border:1px solid black;
border-collapse:collapse; padding:15px"> Action </th>
  </tr>
  </thead>
  <tbody>

<% all_courses.each do |course| %>

  <tr>
    <% name = course["course_name"] %>
    <td style="border:1px solid black;
border-collapse:collapse; padding:5px; text-align: center"><%= course["dept"] %></td>
    <td style="border:1px solid black;
border-collapse:collapse; padding:5px; text-align: center"><%= course["course_no"] %></td>
    <td style="border:1px solid black;
border-collapse:collapse; padding:5px"><%= link_to name, "/courses/#{course["id"]}" %></td>
    <td style="border:1px solid black;
border-collapse:collapse; padding:5px; text-align: center"><%= link_to "edit", "/courses/#{course["id"]}/edit"%> | <%= link_to "delete", "/courses/#{course["id"]}", "method" => "delete" %></td>

  </tr>
<% end %>
</tbody>
</table>
</style>
</table>
