<% course_id = params["id"] %>
<% course = Course.read(course_id) %>
<% sections = Section.where("course_id" => course_id) %>

<h2> <font face="verdana" color=purple><%= course["dept"] %> <%= course["course_no"] %>: <%= course["course_name"] %></font></h2>

<h3>Choose a professor: </h3>

    <ul>

      <% sections.each do |section| %>

      <% professor = Professor.order("plast_name asc").find_by("id" => section["professor_id"]) %>


      <div class="column">
        <div class="col-md-4">
         <%= image_tag(professor["photo_url"], "height" => 250, "width" => 200) %>
         <p><h4><%= professor["pfirst_name"] %> <%= link_to professor["plast_name"], "/sections/#{section["id"]}" %></h4></p>
        </div>
     </div>

      <% end %>
    </ul>

  <div class="row">
    <div class="col-md-5">
    <%= link_to "Don't See Your Professor? Add a New Section", "/sections/#{course["id"]}/newprof", "class" => 'btn btn-lg btn-primary' %>
    </div>
  </div>
