<% course_id = params["id"] %>
<% course = Course.read(course_id) %>
<% section = Section.where("course_id" => course["id"]) %>

<h2> <font face="verdana" color=purple><%= course["dept"] %> <%= course["course_no"] %>: <%= course["course_name"] %></font></h2>

<h3>Choose a professor: </h3>

    <% if Section.where("course_id" => course["id"]).count == 0 %>
      <p>No professors listed yet. Add a professor!</p>
    <% end %>
    <ul>

      <% section.each do |list| %>

      <% professor = Professor.find_by("id" => list["professor_id"]) %>

      <div class="column">
        <div class="col-md-4">
         <%= image_tag(professor["photo_url"]) %>
         <p><h4><%= professor["pfirst_name"] %> <%= link_to professor["plast_name"], "/sections/#{list["id"]}" %></h4></p>
     </div>

      <% end %>
    </ul>
