<% course_id = params["id"] %>
<% course = Course.read(course_id) %>
<% sections = Section.where("course_id" => course_id) %>

<h2> <font face="verdana" color=purple><%= course["dept"] %> <%= course["course_no"] %>: <%= course["course_name"] %></font></h2>

<h3>Choose a professor: </h3>

    <% if Section.where("course_id" => course["id"]).count == 0 %>
      <p>No professors listed yet. <%= link_to "Add a professor for this course!", "/sections/newprof" %></p>
    <% end %>
    <ul>

      <% sections.each do |section| %>

      <% professor = Professor.order("plast_name asc").find_by("id" => section["professor_id"]) %>
      Section.where("course_id" => c.id).order("plast_name asc").joins(:professor)

      <div class="column">
        <div class="col-md-4">
         <%= image_tag(professor["photo_url"], "height" => 250, "width" => 200) %>
         <p><h4><%= professor["pfirst_name"] %> <%= link_to professor["plast_name"], "/sections/#{list["id"]}" %></h4></p>
     </div>

      <% end %>
    </ul>
